<div class="details ng-scope">
          <div class="list">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="img/apache_pb.gif" />
                    <h2>Office 365 and SharePoint</h2>
                    <p>Demo iOS App</p>
                    <p>www.winsmarts.com</p>
                </div>
            </div>
            <label class="item item-input">
                <input type="text" placeholder="username" ng-model="ulogin.UserName"
                 required autofocus>
            </label>
            <label class="item item-input">
                <input type="password" ng-model="ulogin.Password"
                 placeholder="password" required>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive"
                ng-click="login(ulogin)">
                Sign-In
            </button>
        </div>
        <div data-ng-hide="message == ''"
              class="item bar bar-footer bar-assertive">
            <h1 class="title">{{message}}</h1>
        </div>
    </div>